<h1 class ="aboutHeader"><center>ABOUT</center></h1>
<div class ="aboutContainer">
  <div class="headerContainer">
    <h1>Hi, I'm Brooke!</h1>
    <p>Full-stack developer focused on creativity, improving functionality and solving problems with innovative solutions. My background in marketing and leadership allow me to see the potential of development in processes, people and design. Driven by passion and innovation, I love bringing efficient programming and responsive design together to deliver an interactive human experience.</p>
  </div>

  <div class ="commentContainer">
    <img src ="/css/images/comment.png"/>
    <!-- <div class="bubble" style= "font-size: 15em;" ><i class="fas fa-comment"></i></div>
    <div class="bubble2" style= "font-size: 15em;"><i class="fas fa-comment"></i></div>
    <div class="bubble" style= "font-size: 15em;"><i class="fas fa-comment"></i></div>

    <center>
  <div class ="bubblewords1"><i class="fas fa-forward" style="font-size: 5em;"></i><p>Fast Learner</p></div>
  <div class ="bubblewords2"><i class="fas fa-user" style="font-size: 5em;"></i><p>Intuitive UX/UI</p></div>
  <div class ="bubblewords3"><i class="fas fa-code" style="font-size: 5em;"></i><p>Clean Code</p></div>
</center> -->
  </div>
</div>

<div class="commentMobile">
  <br />
  <br />
  <br />
<img src ="/css/images/comment.png"/>
</div>
