<h1 class="articles"><center>ARTICLES</center></h1>

<div class="container">
<div class ="row">
  <div class="col s6">
    <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="https://cdn-images-1.medium.com/max/800/1*TSXg3YdOxfi1R8oI0dwTOA.png" width ="200px">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>When Should You Use a Front-End CSS Framework?  </span>
           <a class="githubIcon" style="font-size:2em; color: black;" href="https://medium.com/@brookebillmaier/when-should-you-use-a-front-end-css-framework-98da2a73c316" target="_blank">
           <i class="fas fa-eye"></i></a>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
           <center><h3><a target="_blank" rel="noopener noreferrer" href="https://medium.com/@brookebillmaier/when-should-you-use-a-front-end-css-framework-98da2a73c316" style="color: black;">When Should You Use a Front-End CSS Framework?  </a></h3></center>

           <h1 class="githubIcon" style="font-size:2em;"><a href="https://medium.com/@brookebillmaier/when-should-you-use-a-front-end-css-framework-98da2a73c316" target="_blank" rel="noopener noreferrer"><center>
           <i class="fas fa-eye"></i></a></h1></center>
         </div>
       </div>
    </div>

       <div class="col s6">
         <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://ga-shop-production-herokuapp-com.global.ssl.fastly.net/assets/images/corporate-training_1E3YQ.jpg" height="200px">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>How to Survive a Coding Bootcamp  </span>
                <a class="githubIcon" style="font-size:2em; color: black;" href="https://medium.com/@brookebillmaier/how-to-survive-a-coding-bootcamp-and-a-career-change-5ce17ed8a973" target="_blank" rel="noopener noreferrer">
                <i class="fas fa-eye"></i></a>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                <center><h3><a href="https://medium.com/@brookebillmaier/how-to-survive-a-coding-bootcamp-and-a-career-change-5ce17ed8a973" target="_blank" rel="noopener noreferrer" style="color: black;">How to Survive a Coding Bootcamp </h3></a></center>
                <h1 class="githubIcon" style="font-size:2em;  color: black;"><a target="_blank" rel="noopener noreferrer" href="https://medium.com/@brookebillmaier/how-to-survive-a-coding-bootcamp-and-a-career-change-5ce17ed8a973"><center>
                <i class="fas fa-eye"></i></a></h1></center>
              </div>
            </div>







     </div>
</div>
