<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<h1 class="projects"><center>PROJECTS</center></h1>
<div class ="allcards">



  <!-- <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://blog.datacite.org/images/uploads/clouds-country-daylight-371633.jpg" width ="200px">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="far fa-caret-circle-down"></i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div> -->


</div>
