<br /><br /><br /><h1 class="projects"><center>PROJECTS</center></h1>


<center>
  <div class ="allcards">
    <div class="container">


<div class ="row">
  <div class="col s6">
    <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="/css/images/galactic.png" width ="200px">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> Galactic Hero</span>
           <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/brookebillmaier.github.io" target="_blank"><i class="fab fa-github"></i></a>
           <a class="githubIcon" style="font-size:2em;" href="https://brookebillmaier.github.io/index.html" target="_blank">
           <i class="fas fa-eye"></i></a>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
           <center><h3 style="color: black;">Galactic Hero</h3></center>
           <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/brookebillmaier.github.io" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://brookebillmaier.github.io/index.html" >
           <i class="fas fa-eye"></i></a></h1>
           <p>A two player game of Connect 4 made with HTML, CSS, and jQuery. </p>
         </div>
       </div>




  </div>
     <div class="col s6">
       <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="/css/images/fido.png" width ="200px">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> FindMeFido</span>
         <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/FindMeFido" target="_blank"><i class="fab fa-github"></i></a>
         <a class="githubIcon" style="font-size:2em;" href="https://findmefido.herokuapp.com/" target="_blank">
         <i class="fas fa-eye"></i></a>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
         <center><h3>FindMeFido</h3></center>
         <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/FindMeFido" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://findmefido.herokuapp.com/" >
         <i class="fas fa-eye"></i></a></h1>
         <p>This full-stack app was created with HTML, CSS, Javascript, jQuery, Express, Mongoose, MongodDB, Node.js, EJS, Express-Session and Method-Override. </p>
       </div>
     </div>





     </div>



     <div class="col s6">
       <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="/css/images/haunts.png" width ="200px">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> Hidden Haunts</span>
         <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/SpookyTime" target="_blank"><i class="fab fa-github"></i></a>
         <a class="githubIcon" style="font-size:2em;" href="https://spookythings.herokuapp.com/" target="_blank">
         <i class="fas fa-eye"></i></a>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
         <center><h3>Hidden Haunts</h3></center>
         <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/SpookyTime" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://spookythings.herokuapp.com/" >
         <i class="fas fa-eye"></i></a></h1>
         <p>A full-stack CRUD app utilizing Mongoose, Express, Angular and Node.js. This app was built during Halloween time and specializes in finding spooky places to visit.</p>
       </div>
     </div>



     </div>


        <div class="col s6">
          <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="/css/images/aliens.png" width ="200px">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> AlienDS</span>
            <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/AbductedApp" target="_blank"><i class="fab fa-github"></i></a>
            <a class="githubIcon" style="font-size:2em;" href="https://aliends.herokuapp.com/" target="_blank">
            <i class="fas fa-eye"></i></a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <center><h3>AlienDS</h3></center>
            <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/AbductedApp" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://aliends.herokuapp.com/" >
            <i class="fas fa-eye"></i></a></h1>
            <p>A full-stack CRUD app built with Ruby on Rails, PostgreSQL, React and Sass. This app is focused on how the the DMV waitlist would be viewed if it was made by aliens for their spaceships. </p>
          </div>
        </div>
      </div>
</div>




<div class = "row">
  <center>
    <div class="col s12">
      <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/css/images/sourcegem.png" width ="200px">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> SourceGem</span>
        <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/SourceGem" target="_blank"><i class="fab fa-github"></i></a>
        <a class="githubIcon" style="font-size:2em;" href="https://sourcegem.herokuapp.com/" target="_blank">
        <i class="fas fa-eye"></i></a>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        <center><h3>SourceGem</h3></center>
        <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/SourceGem" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://sourcegem.herokuapp.com/" >
        <i class="fas fa-eye"></i></a></h1>
        <p>A full-stack CRUD app made to showcase a Marketing/Development shop's portfolio. This app utilizes Ruby on Rails, React, React Bootstrap and PostgreSQL. </p>
      </div>
    </div>




      </div>
    </center>
  </div>



  </div>
</div>



<!-- Mobile  -->

<div class ="mobilecards">
  <div class="container">


<div class ="row">
<div class="col s12">
  <div class="card">
       <div class="card-image waves-effect waves-block waves-light">
         <img class="activator" src="/css/images/galactic.png" width ="200px">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> Galactic Hero</span>
         <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/brookebillmaier.github.io" target="_blank"><i class="fab fa-github"></i></a>
         <a class="githubIcon" style="font-size:2em;" href="https://brookebillmaier.github.io/index.html" target="_blank">
         <i class="fas fa-eye"></i></a>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
         <center><h3 style="color: black;">Galactic Hero</h3></center>
         <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/brookebillmaier.github.io" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://brookebillmaier.github.io/index.html" >
         <i class="fas fa-eye"></i></a></h1>
         <p>A two player game of Connect 4 made with HTML, CSS, and jQuery. </p>
       </div>
     </div>




</div>
<div class="col s12">
     <div class="card">
     <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="/css/images/fido.png" width ="200px">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> FindMeFido</span>
       <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/FindMeFido" target="_blank"><i class="fab fa-github"></i></a>
       <a class="githubIcon" style="font-size:2em;" href="https://findmefido.herokuapp.com/" target="_blank">
       <i class="fas fa-eye"></i></a>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
       <center><h3>FindMeFido</h3></center>
       <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/FindMeFido" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://findmefido.herokuapp.com/" >
       <i class="fas fa-eye"></i></a></h1>
       <p>This full-stack app was created with HTML, CSS, Javascript, jQuery, Express, Mongoose, MongodDB, Node.js, EJS, Express-Session and Method-Override. </p>
     </div>
   </div>


   <div class="col s12">
     <div class="card">
     <div class="card-image waves-effect waves-block waves-light">
       <img class="activator" src="/css/images/haunts.png" width ="200px">
     </div>
     <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> Hidden Haunts</span>
       <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/SpookyTime" target="_blank"><i class="fab fa-github"></i></a>
       <a class="githubIcon" style="font-size:2em;" href="https://spookythings.herokuapp.com/" target="_blank">
       <i class="fas fa-eye"></i></a>
     </div>
     <div class="card-reveal">
       <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
       <center><h3>Hidden Haunts</h3></center>
       <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/SpookyTime" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://spookythings.herokuapp.com/" >
       <i class="fas fa-eye"></i></a></h1>
       <p>A full-stack CRUD app utilizing Mongoose, Express, Angular and Node.js. This app was built during Halloween time and specializes in finding spooky places to visit.</p>
     </div>
   </div>


   <div class="col s12">
        <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/css/images/aliens.png" width ="200px">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> AlienDS</span>
          <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/AbductedApp" target="_blank"><i class="fab fa-github"></i></a>
          <a class="githubIcon" style="font-size:2em;" href="https://aliends.herokuapp.com/" target="_blank">
          <i class="fas fa-eye"></i></a>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
          <center><h3>AlienDS</h3></center>
          <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/AbductedApp" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://aliends.herokuapp.com/" >
          <i class="fas fa-eye"></i></a></h1>
          <p>A full-stack CRUD app built with Ruby on Rails, PostgreSQL, React and Sass. This app is focused on how the the DMV waitlist would be viewed if it was made by aliens for their spaceships. </p>
        </div>
      </div>
    </div>


  <div class="col s12">
    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="/css/images/sourcegem.png" width ="200px">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i> SourceGem</span>
      <a class="githubIcon" style="font-size:2em;" href ="https://github.com/brookebillmaier/SourceGem" target="_blank"><i class="fab fa-github"></i></a>
      <a class="githubIcon" style="font-size:2em;" href="https://sourcegem.herokuapp.com/" target="_blank">
      <i class="fas fa-eye"></i></a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <center><h3>SourceGem</h3></center>
      <h1 class="githubIcon" style="font-size:2em;"> <a href ="https://github.com/brookebillmaier/SourceGem" target="_blank"><i class="fab fa-github"></i></a><a target="_blank" rel="noopener noreferrer" href="https://sourcegem.herokuapp.com/" >
      <i class="fas fa-eye"></i></a></h1>
      <p>A full-stack CRUD app made to showcase a Marketing/Development shop's portfolio. This app utilizes Ruby on Rails, React, React Bootstrap and PostgreSQL. </p>
    </div>
  </div>





</div>



</div>
</div>
