@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Domine");
:root {
  --brown: brown;
  --pink: #ff5252;
  --lightpink: #e65760;
  --darklightpink: rgb(205, 77, 85); }

body {
  overflow-x: hidden;
  background-color: black;
  color: white; }

.landing {
  height: 46vw;
  margin-top: -30px; }

.landingimage {
  background: url("/header.gif") no-repeat;
  margin-top: 0px;
  background-size: 80% 75%;
  background-position: center;
  overflow-x: none;
  height: 43vw; }

.viewButton {
  float: center;
  border: 2px solid white;
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 2vw;
  align-self: center;
  position: absolute;
  top: 36vw;
  left: 40vw;
  padding: 1vw; }

.viewButton:hover {
  background-color: #e65760; }

.viewButton:focus {
  background-color: #cd4d55; }

#arrow {
  transition: all .5s ease; }

#arrow:hover {
  transform: rotateZ(90deg); }

.codingScript {
  background-color: black;
  width: 31vw;
  height: 20vw;
  z-index: 1;
  position: absolute;
  top: 5vw;
  left: 7vw;
  text-align: left;
  padding: 5vw; }

/* Landing Typing Text
.designerScript {
  position: absolute;
  top: 40vw;
  right: 10vw;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  width: 30em;
  animation:
    type 4s steps(60, end),
    blink-caret .5s step-end infinite;
}
p:nth-child(2){
  animation: type2 8s steps(8, end);
}
@keyframes type{
  from { width: 0; }
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
.codingscript {
    margin-top: 10vw;
  margin-left: 5vw;
  overflow: hidden;
  width: 20vw;
  height: 50vw;
  font-family: monospace;
  border-right: .4vw white;
  word-wrap: break-word;
  animation:
    typing 10s steps(70, end),
    blink-caret .5s step-end infinite;
  }
}
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
  }
}
 */
/* ABOUT */
#about {
  height: 45vw; }

.aboutHeader {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 3px; }

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/* PARAGRAPH CONTAINER ABOUT */
.headerContainer {
  width: 30%;
  margin: 5vw 6vw;
  display: inline;
  float: left; }

.headerContainer p {
  font-size: 1.5vw; }

@media (max-width: 720px) {
  .headerContainer h1 {
    display: none; }

  .headerContainer p {
    display: block;
    width: 75vw;
    font-size: 3vw;
    margin: 0 10px;
    padding-top: 0;
    text-align: center; } }
/* RESUME */
#resume {
  height: 45vw; }

.resume {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 3px; }

.accordion:focus {
  background-color: var(--lightpink); }

.accordion {
  background-color: var(--lightpink);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 40vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-left: 2px; }

.active, .accordion:hover {
  background-color: var(--darklightpink);
  border: 2px solid var(--lightpink);
  color: white; }

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  width: 40vw;
  margin-left: 2px;
  color: black; }

.resumeContainer {
  display: flex;
  margin-left: 0; }

.accordions {
  padding: 0 18px;
  width: 50vw; }

.barchart {
  width: 50vw;
  margin-left: -1vw;
  align-self: left; }

/* PROJECTS */
#projects {
  height: 50vw; }

.projects {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 3px; }

/* ARTICLE */
#article {
  height: 45vw; }

.articles {
  border-bottom: 1px solid var(--brown);
  padding-bottom: 3px; }

.articleImage {
  border-radius: 10px; }

/* STICKY NAV */
nav {
  width: 110vw;
  background-color: #ff5252;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: .5px solid white;
  z-index: 3; }

.sticky {
  position: fixed;
  top: 0; }

.navigation {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  max-height: 4.75vw; }

.right {
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  display: inline-flex; }

.navlink {
  justify-content: flex-start;
  font-family: 'Domine', serif;
  letter-spacing: 2px;
  margin-bottom: .1vw; }

.navlink:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--brown);
  z-index: 2; }

.navlinkRight {
  margin: .5vw;
  justify-content: flex-end;
  margin-top: 0;
  max-height: 4.75vw; }

.navlinkRight:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--brown);
  z-index: 2; }

.home {
  justify-content: flex-start;
  margin-left: 1vw;
  padding-top: 0; }

.home:hover {
  color: #a12028;
  cursor: pointer;
  border-bottom: 1px solid var(--brown);
  z-index: 2; }

.fas fa-home {
  background-color: white; }

.fab fa-github {
  background-color: white; }

.fas fa-envelope {
  background-color: white; }

.fab fa-slack-hash {
  background-color: white; }

/* Menu Icon  */
.menuicon {
  display: inline-block;
  cursor: pointer;
  display: none; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-9px, 6px);
  transform: rotate(-42deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(42deg) translate(-8px, -8px);
  transform: rotate(42deg) translate(-8px, -8px); }

/* Mobile Devices */
@media (max-width: 720px) {
  .menuicon {
    display: block;
    position: absolute;
    right: 40px; }

  ul {
    width: 100%; }

  ul li {
    display: none;
    text-align: center; }

  #resume {
    height: 100vw;
    text-align: center; }

  .codingScript {
    display: none; }

  .viewButton {
    top: 30vw; }

  #projects {
    height: 50vw; }

  #articles {
    height: 50vw; }

  .landing {
    top: 0; } }
/* code graveyard */
/* navbar color gradient */
/* background-image: linear-gradient(260deg, #F9445A 0%, salmon 50%, #FD803F 100% ); */
.page-footer .container {
  max-height: 15vw; }

.white-text {
  font-family: "Source Serif Pro"; }

/*# sourceMappingURL=main.css.map */
