<h1 class ="aboutHeader"><center>ABOUT</center></h1>
<div class ="aboutContainer">
  <div class="headerContainer">
    <h1>[ Hello world! ]</h1>
    <p>Full-stack developer focused on creativity, improving functionality and solving problems with innovative solutions. My background in marketing and leadership allow me to see the potential of development in processes, people and design. Driven by passion and innovation, I love bringing efficient programming and responsive design together to deliver an interactive human experience.</p>
  </div>

  <div class ="hexContainer">
    <div class ="octagon"></div>
    <div class ="octagon"></div>
    <div class ="octagon"></div>
    <div class ="octagon"></div>
  </div>
</div>
