<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <!--<h5 class="white-text">Contact Me</h5>
           <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p> -->
        <!-- </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
             <li><a class="grey-text text-lighten-3" href="#!">Link 1</a> <a class="grey-text text-lighten-3" href="#!">Link 2</a> <a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Brooke Billmaier
      <a class="grey-text text-lighten-4 right" href="#!"><ul class ="right">
      <li class= "navlinkRight" style="font-size:2em;"><a href ="mailto:billm1be@cmich.edu">
      <i class="fas fa-envelope icon-4x"></i></li></a>
      <li class= "navlinkRight" style="font-size:2em;"><a href ="http://www.linkedin.com/in/brookebillmaier"><i class="fab fa-linkedin"></i></a></li>
      <li class= "navlinkRight" style="font-size:2em;"><a href ="http://www.github.com/brookebillmaier"><i class="fab fa-github"></i></a></li></a>
      </div>
    </div>
  </footer>
