<div ng-controller="MainCtrl" class = "topnav" id="mobile">
  <ul class ="navigation">
    <li class="home" style="font-size: 2em;" ng-click="gotoTop()"><i class="fas fa-home"></i></a></li>
    <li  class = "navlink" ng-click="scrollTo('about')">About</a></li>
    <li class = "navlink" ng-click="scrollTo('resume')">Resume</a></li>
    <li class = "navlink" ng-click="scrollTo('projects')">Projects</a></li>
    <li class = "navlink" ng-click="scrollTo('article')">Articles</a></li></ul>
    <ul class ="right">
    <li class= "navlinkRight" style="font-size:2em;"><a href ="mailto:billm1be@cmich.edu">
    <i class="fas fa-envelope icon-4x"></i></li></a>
    <li class= "navlinkRight" style="font-size:2em;"><a href ="http://www.linkedin.com/in/brookebillmaier"><i class="fab fa-linkedin"></i></a></li>
    <li class= "navlinkRight" style="font-size:2em;"><a href ="http://www.github.com/brookebillmaier"><i class="fab fa-github"></i></a></li>

</div>
</ul>
    <div class="menuicon" onclick="myFunction(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
</div>
