<h1 class="resume"><center>RESUME</center></h1>


<div class ="resumeContainer">
  <div class = "accordions">
  <button class="accordion">Experience <span><i class="fas fa-plus" style="font-size: 1.5em; float:right;"></i></span></button>
    <div class ="panel">
      <h6><b><span>R+L Global Logistics</span></b></h6> <p><i>
        Account Executive Intern</i> <br /> Los Angeles, CA • June 2017 - September 2017</p>

        <h6><span><b>Central Michigan University</b></span></h6> <p><i>Marketing Specialist</i><br /> Mount Pleasant, MI •
        June 2016 – June 2017 </p>

        <h6><span><b>Central Michigan University</b></span></h6> <p><i>
          Team Leader, OIT</i> <br /> Mount Pleasant, MI • May 2015 – June 2016</p>


        <h6><span><b>Central Michigan University</b></span></h6> <p><i>
          Customer Service Representative, OIT</i> <br /> Mount Pleasant, MI  • October 2014 – May 2015</p>



    </div>

  <button class="accordion">Education<span><i class="fas fa-plus" style="font-size: 1.5em; float:right;"></i></span>
  </button>
      <div class ="panel">
        <h5><b><span>General Assembly</span></b></h5> <h6><i>December 2018</i></h6>
           <p>Web Development Immersive</p>
          <h5><span><b>Central Michigan University</b></span></h5> <h6><i>December 2017</i></h6>
            <p>Marketing and Logistics Management</p>


      </div>
      <a href="BrookeBillmaierResume.pdf" download><button class="download"><i class="fa fa-download"></i> Download Resume </a></button>

    </div>

  <div class ="barchart">

    <div id="resizable" style="height: 30vw; width:45vw; border:2px solid #ff5252;">
    	<div id="chartContainer1" style="height: 100%; width: 100%;"></div>
    </div>


  </div>
</div>
