<h1 class="resume"><center>RESUME</center></h1>

<div class ="resumeContainer">
  <div class = "accordions">
  <button class="accordion">Experience <span><i class="fas fa-plus" style="font-size: 1.5em; float:right;"></i></span></button>
    <div class ="panel">experience section put all experience info here</div>

  <button class="accordion">Education<span><i class="fas fa-plus" style="font-size: 1.5em; float:right;"></i></span>
  </button>
    <div class ="panel">education section put all edication info here</div>

    </div>

  <div class ="barchart">

    <div id="resizable" style="height: 30vw; width:45vw; border:2px solid #ff5252;">
    	<div id="chartContainer1" style="height: 100%; width: 100%;"></div>
    </div>


  </div>
</div>
